<main>
  <mat-card>

    <mat-form-field>
      <mat-label>Diet</mat-label>
      <mat-select>
        <mat-option *ngFor="let diet of diets" [value]="diet.value">
          {{diet.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Health</mat-label>
      <mat-select [formControl]="health" multiple>
        <mat-option *ngFor="let healthy of healths" [value]="healthy.value">{{healthy.viewValue}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Meal Type</mat-label>
      <mat-select [formControl]="mealType" multiple>
        <mat-option *ngFor="let meals of mealTypes" [value]="meals.value">
          {{meals.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Cuisine Type</mat-label>
      <mat-select [formControl]="cuisineType" multiple>
        <mat-option *ngFor="let cuisines of cuisineTypes" [value]="cuisines.value">
          {{cuisines.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </mat-card>
</main>
