<main>

    <mat-expansion-panel [expanded]="true" >



        <mat-expansion-panel-header>
            <mat-panel-title style="font-size: 16px;">Your Cutting Board</mat-panel-title>
        </mat-expansion-panel-header>

        <form [formGroup]="addIngredientsFormGroup" (ngSubmit)="addIngredient()">
            <mat-form-field floatLabel="never">
                <input formControlName="ingredient" matInput type="text" placeholder="Add ingredients here" autocomplete="off">
            </mat-form-field>
            <button mat-button color="accent">
                <mat-icon>add</mat-icon>
                ADD INGREDIENT
            </button>
        </form>

        <div *ngIf="ingredients.length > 0" class="grid ingredients-grid">
            <mat-card *ngFor="let ingredient of ingredients">
                <mat-card-header>
                    <mat-card-title>
                        <strong>{{ingredient}}</strong>
                        <button (click)="deleteIngredient(ingredient)" color="warn" mat-icon-button>
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-card-title>
                </mat-card-header>
            </mat-card>
        </div>

    </mat-expansion-panel>


    <div class="grid">
        <mat-card *ngFor="let recipe of recipes$ | async">
            <img mat-card-image [src]="recipe.image" alt="Recipe Photo">
            <mat-card-header>
                <mat-card-title>{{recipe.label}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>

                </p>
            </mat-card-content>
            <mat-card-actions>
                <button [routerLink]="['/user', 'recipe', getRecipeIDFromURI(recipe.uri), 'ingredients']" mat-button>START RECIPE</button>
                <button><mat-icon>start</mat-icon></button>

            </mat-card-actions>
        </mat-card>
    </div>
</main>

