@import "../../../../media-breakpoint";

main {
  grid-template-rows: auto 1fr;
  grid-gap: 24px;
  padding: 24px;
}

form {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  width: 100%;

  mat-form-field {
    padding-right: 12px;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;

    ::ng-deep .mat-button-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 24px;

  mat-card {
    display: flex;
    flex-direction: column;

    mat-card-content {
      //height: 198px;
      //padding-top: 12px;
      flex: 1;
      overflow: hidden;
    }
    mat-card-header {
      ::ng-deep.mat-card-header-text {
        margin: 0;
        width: 100%;
      }

      mat-card-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        width: 100%;
      }
    }
    mat-card-actions {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(92px, 1fr));
      grid-gap: 8px;

      ::ng-deep .mat-button-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.ingredients-grid {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)) !important;
}

mat-expansion-panel {
  background-image: url("../../../../assets/cuttingBoard.jpg");
}

@include media-breakpoint-down(sm) {
  form {
    grid-template-columns: 1fr;

    mat-form-field {
      padding-right: 0;
    }
  }
}

