<main>
    <mat-card>
        <button mat-button routerLink="../instructions"><mat-icon>arrow_left</mat-icon> Instructions</button>
    </mat-card>

  <mat-card>

    <div class="review">
      <mat-card-header>
        <mat-card-title>Rate this recipe!</mat-card-title>
        <mat-card-subtitle>Help us recommend recipes for you by providing your feedback below.</mat-card-subtitle>
      </mat-card-header>

      <div class="stars">
        <form [formGroup]="addRatingsFormGroup" (ngSubmit)="submitFeedback()">
          <input class="star star-5" id="star-5" type="radio" name="rating" value="5 stars" formControlName="rating"/>
          <label class="star star-5" for="star-5"></label>
          <input class="star star-4" id="star-4" type="radio" name="rating" value="4 stars" formControlName="rating"/>
          <label class="star star-4" for="star-4"></label>
          <input class="star star-3" id="star-3" type="radio" name="rating" value="3 stars" formControlName="rating"/>
          <label class="star star-3" for="star-3"></label>
          <input class="star star-2" id="star-2" type="radio" name="rating" value="2 stars" formControlName="rating"/>
          <label class="star star-2" for="star-2"></label>
          <input class="star star-1" id="star-1" type="radio" name="rating" value="1 star" formControlName="rating"/>
          <label class="star star-1" for="star-1"></label>
        </form>
      </div>
    </div>

    <div class="review">
      <mat-card-header>
        <mat-card-title>Leave a comment!</mat-card-title>
        <mat-card-subtitle>Feel free to share your cooking experience with everyone.</mat-card-subtitle>
      </mat-card-header>

      <form class="comment-form" [formGroup]="addCommentsFormGroup" (ngSubmit)="submitFeedback()">
        <mat-form-field appearance="outline">
          <textarea formControlName="comment" matInput placeholder="Enter your comments here and click the submit button when finished."></textarea><br>
        </mat-form-field>
        <button mat-button color="accent">+ SUBMIT FEEDBACK</button>
      </form>
    </div>

    <div class="comDiv">
      <mat-card-header><mat-card-title>Comments ({{count}}): </mat-card-title></mat-card-header><br>
      <div class="comment" *ngFor="let comment of comments">
        <b>USERNAME &nbsp;</b> - &nbsp; Posted <i>{{timeStamp}}</i><br> <br><p>{{comment}}</p><p *ngFor="let rating of ratings"><i>Rated {{rating}}.</i></p><br></div>
    </div>
  </mat-card>
</main>
