<mat-drawer-container>
  <mat-drawer #drawer>
      <aside>

      </aside>
  </mat-drawer>
  <mat-drawer-content>
      <header>
          <mat-toolbar><button mat-icon-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button> Mimir</mat-toolbar>
      </header>
      
      <div>
        <table class="ingredient-list">
          <tr>
            <th class="not-rightmost-column">Qty.</th>
            <th class="rightmost-column">Item</th>
          </tr>
          <ng-container *ngFor="let ingredient of ingredientList">
            <tr>
              <td class="not-rightmost-column">{{ingredient.qty}}</td>
              <td class="rightmost-column">{{ingredient.item}}</td>
            </tr>
          </ng-container>
        </table>
        <!-- <ul class="ingredient-list">
            <li *ngFor="let ingredient of ingredients">{{ ingredient }}</li>
        </ul> -->
      </div>

      <footer>
          <mat-toolbar>
              <button mat-button color="accent"><mat-icon>home</mat-icon></button>
              <button mat-button color="accent"><mat-icon>person</mat-icon></button>
              <button mat-button color="accent"><mat-icon>star</mat-icon></button>
          </mat-toolbar>
      </footer>
  </mat-drawer-content>
</mat-drawer-container>
