main {
  grid-template-rows: auto 1fr;
  grid-gap: 24px;
  padding: 24px;
}

.ingredient-list {
  list-style-type: circle;
  border: 2px solid #65ff66;
}

li {
  padding: 5px 10px;
  background-color: #fff;
  border: 1px solid #DDDDDD;
}

mat-card-actions {
  text-align: right;
}
