mat-drawer-container, mat-drawer-content, mat-drawer {
  height: 100%;
}

mat-drawer-container {
  background-color: rgba(0,0,0,0);
}

mat-drawer-content, mat-drawer {
  display: grid;
}

mat-drawer-content {
  grid-template-rows: auto 1fr auto;
}

footer mat-toolbar {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

table {
  background-color: #00d831;
  color: #003f99;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

td {
  padding: 5px 10px;
  background-color: #eeeeee;
  border: 1px solid #0069cb;
  color: #003f99;
}

td:hover {
  background-color: #65ff66;
  color: #000000;
}

.not-rightmost-column {
  white-space: nowrap;
}

.rightmost-column {
  width: 99%;
}

.ingredient-list {
  list-style-type: circle;
}

.recipe-transition {
  align-items: center;
  background-color: #eeeeee;
  color: #0069cb;
  display: flex;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  justify-content: center;
  width: 100%;
}

.recipe-transition:hover {
  background-color: #0069cb;
  color: #eeeeee;
}

.recipe-nav {
  display: inline-block;
}