<main>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <form>
                <mat-form-field floatLabel="never">
                    <input matInput type="search" placeholder="Item search">
                </mat-form-field>
                <button mat-icon-button>
                    <mat-icon>search</mat-icon>
                </button>
            </form>
        </mat-expansion-panel-header>

        <p>This is the primary content of the panel.</p>



    </mat-expansion-panel>

    <div class="grid">
        <mat-card *ngFor="let recipe of recipes">
            <img mat-card-image [src]="recipe.image" alt="Recipe Photo">
            <mat-card-header>
                <mat-card-title>{{recipe.title}}</mat-card-title>
<!--                <mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
            </mat-card-header>
            <mat-card-content>
                <p>
                    {{recipe.description}}
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE {{recipe.likes}}</button>
                <button mat-button>START RECIPE</button>
            </mat-card-actions>
        </mat-card>
    </div>
</main>

