main {
  grid-template-rows: auto 1fr;
  padding: 24px;
}

form {
  display: flex;
  align-items: center;
  padding-right: 24px;
  width: 100%;

  input {
    flex: 1;
  }
}

.grid{
  padding-top: 24px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 24px;

  mat-card {
    mat-card-content {
      height: 150px;
      overflow: hidden;
    }
    mat-card-header {
      ::ng-deep.mat-card-header-text {
        margin: 0;
      }
    }
  }
}
