<main>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <form>
                <mat-form-field floatLabel="never">
                    <input matInput type="search" placeholder="Item search">
                </mat-form-field>
                <button mat-icon-button>
                    <mat-icon>search</mat-icon>
                </button>
            </form>
        </mat-expansion-panel-header>

        <p>This is the primary content of the panel.</p>

    </mat-expansion-panel>

    <div>

    </div>
</main>

